doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="/public/main.css" rel="stylesheet" type="text/css")
  body
    
    nav(class="navbar sticky-top navbar-expand-md navbar-light")
      a(class="navbar-brand" href="/") Rabbiterest
      if loggedIn
        button(class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.span.navbar-toggler-icon

        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link" href="/profile") My Rabbits
            li(class="nav-item")
              a(class="nav-link" href="/logout") Logout
          .dropdown-divider
          form(action="/search" method="GET" class="form-inline")
            .input-group
              input(class="form-control" name="location" type="search" placeholder="View user's rabbits" aria-label="Find Rabbits")
              .input-group-append
                button(class="btn btn-primary" type="submit") Find Rabbits
      else
        a(href="/auth/twitter").ml-auto
          img(src="https://cdn.glitch.com/854bed4f-5ebe-43f7-a85e-3e9f30063361%2Fsign-in-with-twitter-gray%5B1%5D.png?1522553964899")
      
    block body
      if error
          .alert.alert-danger.alert-dismissible.fade.show(role= "alert")
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") &times;
            =error
    
    
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src="/common/ajax-functions.js" type="text/javascript")
    block script